<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blogtastic</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<header>
			<h1>Blogtastic</h1>
					
			<section class="user-tray">
				{% if user %}
                    Welcome, <a class="user-own-posts-link" href="/posts?owner={{ user.username }}">{{ user.username }}</a> <a href="/logout">Logout</a>
                {% else %}
                    Welcome guest. Please <a href="/register">Register</a> or <a href="/login">Login</a> to post.
                {% endif %}
                </section>

			<nav class="main-menu">
				<a href="/posts">All Posts</a>
				{% if user %}
					<a href="/posts?owner={{ user.username }}">Your Posts</a>
					<a href="/post?action=create">Create Post</a>
				{% endif %}
			</nav>

		</header>
		<main>

		{% block pageTitle %}
			{% if pageTitle %}
				<h2 class="page-title">{{ pageTitle }}</h2>
			{% endif %}
		{% endblock %}

        {% block errors %}
            {% if errorMessage %}
                <div class="error">{{ errorMessage }}</div>
            {% endif %}
        {% endblock %}

		{% block content %}
		{% endblock %}
		</main>
		<footer>
			&copy; 2016 Cory Fisher
		</footer>

        <script src="/js/app.js"></script>
	</body>
</html>
