{% extends "layout.html" %}

{% block content %}

<form method="post" action="/register" class="registration-form">
	<fieldset>
		<p><label for="username">Username:</label> <input type="text" name="username" value = "{{ registerForm.username }}"> {{ registerForm.username_error }}</p>
		<p><label for="email">Email:</label> <input type="text" name="email" value = "{{ registerForm.email }}"> {{ registerForm.email_error }}</p>
		<p><label for="password">Password:</label> <input type="password" name="password" value = ""> {{ registerForm.password_error }}</p>
		<p><label for="password_verify">Verify:</label> <input type="password" name="password_verify" value = ""> {{ registerForm.password_verify_error }}</p>
		<input type="submit">
	</fieldset>
</form>

{% endblock %}
