{# Nested layout is used for the listing view
   There are a few differences such as where the title is displayed and
   whether or not the comments are displayed #}

{% if not nested %}
	{% extends "layout.html" %}
	{% block pageTitle %}
		<h2 class="page-title">
			{{ post.title }} by <a href="/posts?owner={{ post.owner }}">{{ post.owner }}</a>
			<i data-post="{{ post.key.urlsafe() }}" class="{% if user and user.username != post.owner %}like-toggle{% else %}disabled{% endif %} fa {% if likedPosts[post.key.urlsafe()] %}fa-thumbs-up{% else %}fa-thumbs-o-up{% endif %}"></i>
            <span class="like-count">{{ post.likeCount }}</span>
		 </h2>
	{% endblock %}
{% endif %}

{% block content %}
<article class="post" id="{{ post.key.urlsafe() }}">

	{% if nested == 1 %}
	<h3 class="post-heading">
		<a class="post-link" href="/post?post={{ post.key.urlsafe() }}">{{ post.title }}</a> <i data-post="{{ post.key.urlsafe() }}" class="{% if user and user.username != post.owner %}like-toggle{% else %}disabled{% endif %} fa {% if likedPosts[post.key.urlsafe()] %}fa-thumbs-up{% else %}fa-thumbs-o-up{% endif %}"></i>
        <span class="like-count">{{ post.likeCount }}</span>
	</h3>
	<div class="subheading">Created {{ post.created.strftime('%Y-%m-%d %I:%M %p') }} by <a href="/posts?owner={{ post.owner }}">{{ post.owner }}</a></div>
	{% endif %}
	<section class="post-content">
		{{ post.content | safe }}
	</section>

	{% if not nested %}
	<h4>Comments</h4>
	<section class="post-comments">
		{% if comments %}
			<ul>
			{% for comment in comments %}
				<li data-comment-key="{{ comment.key.urlsafe() }}">
					{{ comment.created.strftime('%Y-%m-%d %I:%M %p') }} - {{ comment.owner }} - <span class="comment-content">{{ comment.content }}</span> {% if comment.owner == user.username %}<i class="edit-comment-trigger fa fa-pencil"></i> <i class="delete-comment-trigger fa fa-trash"></i>{% endif %}
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</section>

	<form class="post-actions" action="/comment" method="post">

		<input type="hidden" name="post" value="{{ post.key.urlsafe() }}">
		<textarea name="content"></textarea>

		{% if not user %}
			<button onclick="document.location.href='/login?return_url={{ ("/posts#comment=" + post.key.urlsafe()) | urlencode }}'">Add Comment</button>
		{% else %}
			{% if user.username == post.owner %}
				<button onclick="document.location.href='/post?post={{ post.key.urlsafe() }}&action=edit'; return false;">Edit Post</button>
			{% endif %}
			<button type="submit">Add Comment</button>
			{% if user.username == post.owner %}
				<button onclick="document.location.href='/post?post={{ post.key.urlsafe() }}&action=delete'; return false;">Delete Post</button>
			{% endif %}
		{% endif %}
            
	</form>
	{% endif %}
</article>
{% endblock %}
